extends layout

block content
  
  div.wrapper
    h1 #{title}
    a(href="/user") Back
    if isAdmin 
      h3 You are already an Admin! 
      
    else
    
      form(method='POST' action="/user/admin")
        div.form-group
          div.secret
            label(for="secret") #[strong Secret]: 
            input#secret.form-control(type='text', name='secret' required)  
          div.button-group
            button(type="submit" class="button") Submit

      if error
        h3 #{error.message}
    


