extends layout

block content
  
  div.wrapper
    h1 Welcome to the #{title}
    .links
        a(href="/login" class="button") Login 
        a(href="/signup" class="button") Sign Up 
    h3 All Posts 

    if postList.length 
        .grid
            each post in postList 
                .card   
                    h3 #{post.title}
                    p #{post.description}
                    
    else 
        #[strong There are no posts. Please create one.]


  




