extends layout

block content
  
  div.wrapper
    h1 Welcome to the #{title}
    a(href="/login") Login 
    a(href="/signup") Sign Up 
    h3 All Posts 

    if postList.length 
        .grid
            each post in postList 
                .card   
                    a(href=post.url) #{post.title}
                    p #{post.description}
                    
    else 
        #[strong There are no posts. Please create one.]


  




